body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #a190d1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--title {
    font-size: 100px;
    color: #4a0975;
    margin: 10px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #9453bc;
    color: #352e2e;
}

.game--status {
    font-size: 50px;
    color: #c7acd7;
    margin: 20px auto;
}

.game--restart {
    background-color: #211525;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #96709a;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
}
